@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Rock+Salt&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-title {  margin-top: 10px;}
#logo_link {  padding-top: 5px;
}
.icon {  padding-top: 10px;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
div {text-align: center;}

.msg{
    background-color: #f7a072;
    color: white;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
}
.msg p{
    font-size: .8em; 
    padding: 15px;
    padding-bottom: 15px;
}
.rivers-card, .camping-card, .rapids-card{   margin: 200px 0; 
}     
    
#hero-msg h1{
    text-align: center;
}
#hero-msg h2{
    text-align: center;
}

.button_box {
    text-align: center;
}
main section{
    text-align: center;
}

#background {
    height: 725px;
}                
header {background-color:rgba(20,30,13, .7);}

body {
    background-color:green;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
h2 {
    margin: 0;
}
nav a:hover {
    background-color:red ;
    color: bisque;
}
.book, .join {
    background-color: deepskyblue;
    color: blue;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover{background-color: #f7a072;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: blue ;
    color:pink;
}
#background{
    background-color: gold;
    color: brown;
}
.msg{
    background-color: antiquewhite ;
    color: red;
    padding: 35px;
}
footer{
    background-color:black;
    color:whitesmoke;
    -webkit-text-fill-color: aqua;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    text-decoration: none;
}
 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
footer .social img  { padding-top: 15px;
}
                  

.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
